.searchBox{
    width: 100%;
    background-color:black;
    text-align: center;
}

.container-text-image{
    width: 100%;
    height: 40%;
    background: url('/src/Assets/image\ 2.png') no-repeat center;
}

.container-image{
    background: url('/src/Assets/image\ 3.png') no-repeat center;
    height: calc(26rem - 3rem);
    width: 100%;/*si le doy mas la imagen visualmente no aumenta y pierde centrado*/
    
}

.searchText{
    font-size: 3rem;
    text-align: center;
    width: min(90%, 50rem);
    position: relative;
    top: calc(30rem - 11rem);
}

.searchButton{
    font-size: 3rem;
    position: relative;
    top: calc(30rem - 11rem);
}